* {
	margin:0;
	padding:0;
}
body {
	width:100%;
	background-color:#ecf0f1;
	margin-top:120px;
	font-family: 'Josefin Sans', sans-serif;
	font-size:16px;
}




section {
	width:100%;
	height:500px;
}

.main {
	width:100%;
	text-align:center;
	margin:0 auto;
}


section ul {
	width:20%;
	height:100%;
	float:left;
	border-right:1px solid rgba(0,0,0,0.9);
}
section ul li {
	margin:20% 0;
	font-size:1em;
	list-style:none;
}
section ul li a {
	text-decoration:none;
	color:#fff;
}
section ul li a:hover {
	border-bottom:1px solid #fff;
}




.shape {
	width:400px;
	height:400px;
	box-shadow:0 0 50px #000;
	border:1px solid #bdc3c7;
	margin:auto;
	transform:rotate(45deg);
	display:-ms-flexbox;
	display:flex;
	background:url(images/myLogo.ico);
}
.shape a {
	color:#000;
}


.container {
	width:100%;
	height:100%;
}
.container div {
	width:100%;
	height:25%;
	position:relative;
}
.container div p {
	font-size:1.618em;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%) rotate(-45deg);
}





#green {
	background-color:#1abc9c;
	opacity:0.5;
}
#green:hover {
	opacity:1;
}
#blue {
	background-color:#3498db;
	opacity:0.5;
}
#blue:hover {
	opacity:1;
}
#red {
	background-color:#e74c3c;
	opacity:0.5;
}
#red:hover {
	opacity:1;
}
#purple {
	background-color:#9b59b6;
	opacity:0.5;
}
#purple:hover {
	opacity:1;
}

.link {
	transition:all 0.5s;
}
.link:hover {
	color:#fff;
	box-shadow:0 0 1px #000, 1px 1px 1px #000, 2px 2px 1px #000, 3px 3px 1px #000, 4px 4px 1px #000, 5px 5px 1px #000, 6px 6px 1px #000, 7px 7px 1px #000;
	transform:translateX(-7px) translateY(-7px);
	z-index:10;
}





.about {
	height:100%;
	width:100%;
	background-color:#1abc9c;
	text-align:center;
	color:#fff;
	padding:6% 0;
	margin-top:170px;
}
.about h2 {
	font-size:2.618em;
	margin-bottom:5%;
	text-shadow:0 0 #888, 1px 1px #888, 2px 2px #888;
}
.about img {
	width:150px;
	border-radius:50%;
	margin-bottom:5%;
}
.about article {
}
.about article p {
	margin:0 auto;
	font-size:1em;
	width:50%;
}




.projects {
	height:100%;
	width:100%;
	background-image:url("images/workspace.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	padding:6% 0;
}
.projects h2 {
	color:#fff;
	font-size:2.618em;
	margin-bottom:6%;
	text-shadow:0 0 #888, 1px 1px #888, 2px 2px #888;
	text-align:center;
}
.sample {
	width:80%;
	display:inline-block;
	margin-bottom:20px;
	padding:2%;
	background-color:rgba(0,0,0,0.5);
	border-radius:10px;
	border:2px solid #fff;
	color:#fff;
}
.sample a {
	
}
.sample img {
	width:275px;
	height:139px;
	padding-right:20px;
	border-right:1px solid #fff;
	float:left;
}
.sample h4 {
	
}
.sample h5 {
	
}



.contact {
	width:100%;
	background-color:#3498db;
	text-align:center;
	color:#fff;
	padding:6% 0;
}
.contact h2 {
	font-size:2.618em;
	margin:0 auto 6% auto;
	text-shadow:0 0 #222, 1px 1px #222, 2px 2px #222;
}
.contact h3 {
	font-size:1.618em;
	margin-bottom:2%;
}
.contact form {
	width:50%;
	background-color:rgba(0,0,0,0.3);
	margin:0 auto;
	padding:2% 0;
	border-radius:10px;
	border:3px solid #fff;
}
.contact input[type=text] {
	width:75%;
	border-radius:10px;
	padding:5px 0 5px 10px;
	margin-bottom:2%;
	outline:none;
	border:none;
}
.contact input[type=email] {
	width:75%;
	border-radius:10px;
	padding:5px 0 5px 10px;
	margin-bottom:2%;
	outline:none;
	border:none;
}
.contact textarea {
	width:75%;
	border-radius:10px;
	padding:5px 0 5px 10px;
	margin-bottom:2%;
	outline:none;
	font-size:16px;
}
.contact input[type=submit] {
	padding:5px 10px;
	border-radius:10px;
	outline:none;
	color:#fff;
	background-color:#2c3e50;
	border:1px solid #000;
}